body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #ed3a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}


.contact {
    font-size: 25px;
    color: white;

}

.title {
    display: flex;
    align-items: center;
    font-size: 50px;
    color: white;
    font-family: Archivo;
    font-weight: 800;
    margin: 10px 0px;
}

.key-container {
    
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
}

.key-title {
    align-self: center;
    font-size: 50px;
    font-weight: 400;
}


.logo {
    margin-right: 15px;
    width: 75px;
    height: 75px;
}
